<%- include('../partials/head', { title: 'Your Page Title' }) %>
    <%- include('../partials/headerSub') %>
        <style>
            body {
                font-family: Arial, sans-serif;
                background: linear-gradient(to bottom, #d2b48c, #ceffc7);
                overflow-y: scroll;
            }

            .heading-container {
                display: flex;
                justify-content: center;
                margin-top: 30px;
            }

            /* .order-info-class {
                display: flex;
                margin: 0px 50px 50px 50px;
            } */

            .order-innfo-list {
                flex: 1;
            }

            .head span {
                margin-top: 15px;
            }

            .row {
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 1.5rem;
            }

            .btn-primary {
                background-color: #76a72e;
                border-color: #76a72e;
                padding: 10px 20px;
                font-size: 18px;
                border-radius: 5px;
            }

            .btn-primary:active,
            .btn-primary:hover,
            .btn-primary:focus {
                background-color: #5c7f2c;
                border-color: #5c7f2c;
                outline: none;
                box-shadow: none;
            }

            .order-info-class {
                padding: 20px;
            }

            .logout_btn_container {
                display: flex;
                align-items: center;
                /* margin: 48px; */
                padding-top: 50px;
                justify-content: center;
            }

            .main_section {
                min-height: 80vh;
            }

            .user-info {
                border: 2px solid red;
                padding: 10px;
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            .user-detail {
                padding: 20px;
            }

            .order-info-class {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        <section class="main_section">

            <div class="heading-container">
                <h2 class="text-center mb-4">Account's Info</h2>
            </div>

            <div class="order-info-class">

                <div class="user-info">
                    <h2>User Information</h2>
                    <div class="user-detail">
                        <b>Email:</b>
                        <%= info.email %>
                    </div>
                    <div class="user-detail">
                        <b>Shipping Address:</b>
                        <%= info.shipping_address %>
                    </div>
                </div>

            </div>
            <div class="logout_btn_container">
                <form action="/" method="GET">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>


        </section>




        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <%- include('../partials/footer') %>