<%- include('../partials/head') %>
    <% if (!userId) { %>
        <%- include('../partials/headerMain') %>

            <% } else { %> <%- include('../partials/headerSub') %>
                    <% } %>
                        <link rel="stylesheet" href="/css/style.css">
                        <style>
                            .heading-container {
                                display: flex;
                                justify-content: center;
                                margin-top: 30px;
                            }

                            .filter-btn {
                                display: flex;
                                justify-content: center;
                                margin-bottom: 20px;
                            }

                            .filter-btn button {
                                margin: 0 10px;
                                padding: 12px 32px;
                            }

                            .filter-btn input {
                                width: 50%;
                                margin-right: 10px;
                                padding: 10px;
                            }

                            .product-container {
                                display: flex;
                                min-height: 60vh;
                                margin: 0px 50px 50px 50px;
                            }

                            .product-list {
                                flex: 1;
                            }

                            .head span {
                                margin-top: 15px;
                            }

                            .row {
                                --bs-gutter-x: 1.5rem;
                                --bs-gutter-y: 1.5rem;
                            }

                            .cart-counter-item {
                                display: flex;
                                justify-content: flex-end;
                                width: 80%;
                                align-items: center;
                            }

                            .cart-container {
                                display: flex;
                                width: 30%;
                                margin-bottom: 30px;
                                flex-direction: row-reverse;
                                justify-content: center;
                            }

                            .sidebar {
                                height: max-content;
                                width: 100%;
                                border-radius: 5px;
                                /* background-color: #eee; */
                                margin-left: 20px;
                                padding: 20px;
                                text-align: center;
                                background-color: #ffffffd1;
                                backdrop-filter: blur(30px);
                                box-shadow: 0 0px 0px 0px rgba(227, 228, 237, 0.37);
                            }

                            .head {
                                /* background-color: #80ED99; */
                                background-color: #004E64;
                                /* background-color: #25A18E; */
                                border-radius: 3px;
                                height: 56px;
                                padding: 10px;
                                margin-bottom: 20px;
                                color: rgb(255, 255, 255);
                                display: flex;
                                align-items: center;
                            }

                            .foot {
                                display: flex;
                                justify-content: space-between;
                                margin: 20px 0px 0px 0px;
                                padding: 10px 0px;
                                border-top: 1px solid #333;
                            }


                            .foot h2 {
                                margin-top: 6px;
                                font-size: 20px;
                                color: red;
                            }

                            .cart-item {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 10px;
                                background-color: white;
                                border-bottom: 1px solid #aaa;
                                border-radius: 3px;
                                margin: 10px 10px;
                            }

                            .rowimg {
                                max-width: 43px;
                                max-height: 43px;
                            }

                            .fa-trash:hover {
                                cursor: pointer;
                                color: #333;
                            }

                            .card {
                                /* border: 2px solid rgba(255, 255, 255, 0.18); */
                                background-color: #ffffffd1;
                                backdrop-filter: blur(30px);
                                box-shadow: 0 0px 0px 0px rgba(227, 228, 237, 0.37);
                            }
                            
                        </style>

                        <div class="heading-container">
                            <h2 class="text-center mb-4">Products</h2>
                        </div>
                        <div class="filter-btn">
                            <input type="text" id="searchInput" class="form-control"
                                placeholder="Search products by name" onkeyup="searchProducts()" />
                        </div>

                        <div class="filter-btn">
                            <button class="btn btn-primary filter-button show-button" product-category="all">
                                All
                            </button>
                            <button class="btn btn-primary filter-button show-button" product-category="Fruits">
                                Fruits
                            </button>
                            <button class="btn btn-primary filter-button show-button" product-category="Vegetables">
                                Vegetables
                            </button>
                        </div>

                        <div class="product-container">
                            <div class="product-list">
                                <div class="row" id="product-list">
                                    <% products.forEach((product)=> { %>
                                        <div class="col-md-4 product-item" data-category="<%= product.category %>"
                                            data-name="<%= product.name.toLowerCase() %>">
                                            <div class="card text-center">
                                                <img src="<%= product.image %>" class="card-img-top"
                                                    alt="<%= product.name %>" />
                                                <div class="card-body">
                                                    <h5 class="card-title mb-2">
                                                        <%= product.name %>
                                                    </h5>
                                                    <p class="card-text mb-2">Weight: <%= product.weight %> kg</p>
                                                    <p class="card-text mb-2">Price: <%= product.price %> PKR</p>
                                                    <button class="btn btn-primary add-to-cart-btn mt-auto"
                                                        data-id="<%= product.id %>" data-name="<%= product.name %>"
                                                        data-price="<%= product.price %>"
                                                        data-image="<%= product.image %>">
                                                        Add to Cart
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>

                            <div class="cart-container">
                                <div id="root"></div>
                                <div class="sidebar">
                                    <div class="head">
                                        <span class="cart-heading">
                                            <p>My Cart</p>
                                        </span>
                                        <span class="cart-counter-item">
                                            <p>Items: &nbsp;</p>
                                            <p id="count">0</p>
                                        </span>
                                    </div>
                                    <div id="cartItem">Your cart is empty</div>
                                    <div class="foot">
                                        <h3>Total</h3>
                                        <h2 id="total">PKR 0.00</h2>
                                        <button type="button" class="btn btn-outline-success" id="placeOrderBtn" <% if
                                            (userId) { %>
                                            <% } else { %> disabled <% } %> onclick="placeOrder('<%= userId %>')"
                                                        > Place Order
                                        </button>
                                        <!-- <h2>User: <%= userId %>
                            </h2> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Confirmation</h5>
                                    </div>
                                    <div class="modal-body">
                                        Your order has been placed successfully! It will be delivered to your
                                        address on cash on delivery.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                        <script
                            src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
                        <script
                            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

                        <script>
                            let cart = [];
                            let total = 0;
                            const userId = "<%= userId %>";

                            function addtocart(id, image, name, price) {
                                let existingIndex = cart.findIndex((item) => item.name === name);
                                if (existingIndex !== -1)
                                {
                                    cart[existingIndex].quantity++;
                                } else
                                {
                                    const productToAdd = { id, image, name, price, quantity: 1 };
                                    cart.push(productToAdd);
                                }
                                displaycart();
                            }

                            function delElement(index) {
                                const item = cart[index];
                                if (item.quantity > 1)
                                {
                                    item.quantity--;
                                } else
                                {
                                    cart.splice(index, 1);
                                }
                                displaycart();
                            }

                            function displaycart() {
                                const cartElement = document.getElementById("cartItem");
                                cartElement.innerHTML = "";
                                total = 0;
                                cart.forEach((item, index) => {
                                    const { image, name, price, quantity } = item;
                                    total += price * quantity;
                                    cartElement.innerHTML += `
                <div class='cart-item'>
                    <div class='row-img'>
                        <img class='rowimg' src='${image}'>
                    </div>
                    <p style='font-size:12px;'>${name} (Quantity: ${quantity})</p>
                    <h2 style='font-size: 15px;'>PKR ${(
                                            price * quantity
                                        ).toFixed(2)}</h2>
                    <i class='fa-solid fa-trash' onclick='delElement(${index})'></i>
                </div>`;
                                });
                                document.getElementById("count").textContent = cart.length;
                                document.getElementById("total").textContent = `PKR ${total.toFixed(2)}`;
                                updatePlaceOrderButton();
                            }

                            function updatePlaceOrderButton() {
                                const placeOrderBtn = document.getElementById("placeOrderBtn");
                                if (total > 0)
                                {
                                    placeOrderBtn.removeAttribute("disabled");
                                } else
                                {
                                    placeOrderBtn.setAttribute("disabled", true);
                                    document.getElementById("cartItem").innerHTML = "Your cart is empty";
                                }
                            }

                            function searchProducts(userId) {
                                const searchInput = document
                                    .getElementById("searchInput")
                                    .value.toLowerCase();
                                const productItems = document.querySelectorAll(".product-item");
                                productItems.forEach((item) => {
                                    const productName = item.getAttribute("data-name");
                                    if (productName.includes(searchInput))
                                    {
                                        item.style.display = "";
                                    } else
                                    {
                                        item.style.display = "none";
                                    }
                                });
                            }

                            document.addEventListener("DOMContentLoaded", function () {
                                const productList = document.getElementById("product-list");
                                productList.addEventListener("click", function (event) {
                                    if (event.target.classList.contains("add-to-cart-btn"))
                                    {
                                        const id = parseInt(event.target.dataset.id);
                                        const image = event.target.dataset.image;
                                        const name = event.target.dataset.name;
                                        const price = parseFloat(event.target.dataset.price);
                                        addtocart(id, image, name, price);
                                    }
                                });
                            });

                            function displayOrderConfirmationModal() {
                                const orderModal = new bootstrap.Modal(
                                    document.getElementById("orderModal")
                                );
                                orderModal.show();

                                setTimeout(function () {
                                    orderModal.hide();
                                }, 1000);

                                setTimeout(function () {
                                    window.location.href = "/";
                                }, 1000);
                            }

                            function placeOrder(userId) {
                                if (!userId)
                                {
                                    alert("Please login first to place an order.");
                                    window.location.href = "/login";
                                } else
                                {
                                    $.ajax({
                                        url: "/product",
                                        type: "POST",
                                        data: {
                                            products: cart,
                                            total: total,
                                        },
                                        success: function (response) {
                                            cart = [];
                                            displaycart();
                                            displayOrderConfirmationModal();
                                        },
                                        error: function (xhr, status, error) {
                                            // Handle error
                                            console.error("Error placing order:", error);
                                            alert("Error placing order. Please try again.");
                                        },
                                    });
                                }
                            }

                            $(document).ready(function () {
                                $(".filter-button").click(function () {
                                    var category = $(this).attr("product-category");
                                    if (category === "all")
                                    {
                                        $("[data-category]").show();
                                    } else
                                    {
                                        $("[data-category]").hide();
                                        $('[data-category="' + category + '"]').show();
                                    }
                                });
                            });
                        </script>

                        <%- include('../partials/footer') %>